// Fonts
$baseFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Cormorant Upright', serif;
$font-stack-system: 'Source Sans Pro', sans-serif;

// Colors
$brandPrimary: #2700af; // Dark Blue
$brandSecondary: #b39b11; // Gold
$brandTertiary: #dbae1d; // Yellow
$btnColor: #326296;

// Text Selection
$selectionColor: $brandPrimary;
$selectionTextColor: #fff;

// Links
$linkColor: $brandPrimary;
$linkHoverColor: $brandSecondary;
