.home_wrapper {
	
	h3 {
	  font-style: italic;
	}

	.container {
		text-align: left;
	}

	.main-banner {
		background: url("../images/Hero.jpg") no-repeat;
		background-size: cover;
		background-position: 0 -150px;
		margin-top: 0px;
		width: 100%;
		height: 450px;

		@media only screen and (max-width: $lg-breakpoint) {
			background-position: 0 50px;
		}
		@media only screen and (max-width: $sm-breakpoint) {
			background-position: -100px 50px;
		}
	}

	.subnav {
		align-items: center;
		background: url('../images/resources-bg.png') $casv-black;
		background-position: -50px 12px;
		background-repeat: no-repeat;
		background-size: 300px auto;
		color: $white;
		display: flex;
		font-size: 1.2em;
		font-weight: bold;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 5px 0;

		@media only screen and (max-width: $lg-breakpoint) {
			background: #000;
		}

		@media only screen and (max-width: $md-breakpoint) {
			flex-direction: column;
		}

		span {
			font-weight: normal;
		}
		
		p {
			color: $white;
		}

		img {
			width: 75px;
		}

		a {
			color: $white;
			text-decoration: none;
		}

		.onsite {
			background: url('../images/onsite-bg.png') $casv-black no-repeat;
			background-position: 0 5px;
			background-size: 300px auto;
			font-size: 1.3em;
			font-style: italic;
			padding: 20px 25px;
			width: 300px;

			@media only screen and (max-width: $lg-breakpoint) {
				background: #000;
			}
		}

		.resources {
			padding-left: 10px;

			@media only screen and (max-width: $md-breakpoint) {
				padding-left: 0;
			}
		}

		.resources-box {
			font-size: 1.3em;
			font-style: italic;

			@media only screen and (max-width: $md-breakpoint) {
				margin-top: 30px;
			}
		}

		.vid-indicator {
			margin-right: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: static;

			@keyframes pulse {
				0% {
				    transform: scale(0, 0);
					}

				50% {
					transform: scale(1.5, 1.5);
					}

				 100% {
				    transform: scale(0, 0);
					}
				}

			.dot {
				background: $casv-red;
				border-radius: 15px;
				display: block;
				height: 15px;
				position: absolute;
				width: 15px;
			}

			.pulse {
				animation: pulse 3s infinite;
				background: $casv-red;
				border-radius: 26px;
				opacity: .3;
				display: block;
				position: absolute;
				height: 26px;
				width: 26px;
			}

			@media only screen and (max-width: $lg-breakpoint) {
				margin-right: 100px;
			}
		}

		>div {
			align-items: center;
			display: flex;

			@include flex-column-layout();
			
			@media only screen and (max-width: $md-breakpoint) {
				padding: 5px 0;
			}

			p {
				margin: 0 0 0 20px;
			}

			span {
				margin-left: 5px;
			}
		}
	}

	.img-link {
		width: 45%;

		@include mobile-full-width();
	}

	// compete against the best section

	.compete .container {
		display: flex;
		justify-content: space-between;

		@media only screen and (max-width: $lg-breakpoint) {
			padding: 10px;
		}

		@include flex-column-layout($md-breakpoint, column-reverse);

		.description {
			width: 55%;

			@include mobile-full-width();
		}

		>div {
			padding: 30px;

			@media only screen and (max-width: $md-breakpoint) {
				padding: 0;
			}
		}
	}

	.why-casv {
		background: url('../images/Why-Coop-BG.png') no-repeat;
		background-size: cover;
		background-position: center;
		padding-bottom: 60px;

		h2 {
			background: $casv-red;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			color: $white;
			display: inline-block;
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 50px;
			padding: 10px 20px;
			position: absolute;

			@include translate-x-center(); 
			@include mobile-full-width();
		}

		.container {
			display: flex;
			padding-top: 80px;

			@include flex-column-layout();

			img {
				width: 80px;
			}

			>div {
				
				>ul {

					>li {
						align-items: center;
						display: flex;
						padding: 20px;
						text-align: left;

						img {
							margin-right: 20px;
						}

						p {
							color: $white;
						}
					}
				}
			}

		}
	}

	.social-section {
		background: url('../images/Social-Media-BG.png');
		background-size: cover;
		color: white;
		line-height: 1.5em;

		.container {
			padding: 0;
		}

		h2, a {
			color: $white;
			text-align: left;
		}

		.fb-link {
			align-items: center;
			background: $casv-lt-blue;
			display: flex;
			justify-content: space-around;
			height: 40px;
			width: 100%;

			a {
				color: $white;
			}

			i {
				margin-right: 8px;
			}
		}

		.facebook-box {
			background: $white;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			padding: 30px;
			position: relative;

			p {
				padding-left: 100px;

				@media only screen and (max-width: $md-breakpoint) {
					padding-left: 0;
				}
			}

			.logo {
				background: $white;
				border-radius: 100px;
				border: 8px solid #ccc;
				left: -170px;
				top: 70px;
				padding: 10px;
				position: absolute;
				width: 200px;

				@media only screen and (max-width: $md-breakpoint) {
					display: none;
				}
			}
		}

		.container {
			display: flex;
			justify-content: space-around;
			height: 600px;

			@media only screen and (max-width: $md-breakpoint) {
				align-items: center;
			}

			@include flex-column-layout($md-breakpoint);

			>div {
				width: 45%;

				@include mobile-full-width($md-breakpoint, 90%);
			}
		}

		h2 {
			font-size: 2.5em;
			font-weight: bold;
			margin-top: 60px;
			text-align: left;
			text-transform: uppercase;
		}
	}

	.testimonials {
		background: $white;
		display: flex;

		@include flex-column-layout($md-breakpoint);

		>div {
			align-items: center;
			background: $white;
			display: flex;
			width: 50%;

			@include mobile-full-width($md-breakpoint, 100%);

			.rslides {

				li {
					background: $white !important;
				}
			}

		}
		
		.ccm-image-slider-title {
			font-size: 1.4em;
			font-weight: bold;
			margin-top: 50px;
			text-align: center;
			color: $casv-red;

			@media only screen and (max-width: $lg-breakpoint) {
				font-size: 1.2em;
				margin-top: 0;
			}
		}

		.ccm-image-slider-text {
			width: 100%;
			padding: 0px 60px;

			@media only screen and (max-width: $md-breakpoint) {
				padding: 0;
				font-size: 1em;
			}

			strong {
				color: $casv-blue;
			}
		}
	}

	.resources-box {

		@media only screen and (max-width: $lg-breakpoint) {
			display: none;
		}
	}

	.news-stand {
		padding: 0 56px 50px;
		margin-bottom: 50px;

		@media only screen and (max-width: $lg-breakpoint) {
			padding: 0 2%;
		}

		h3 {
			margin-left: 5px;
		}

		.ccm-block-page-list-pages {
			display: flex;
			justify-content: space-between;
			line-height: 22px;

			@media only screen and (max-width: $lg-breakpoint) {
				flex-direction: column;
			}

			.ccm-block-page-list-page-entry-horizontal,
			.ccm-block-page-list-page-entry {
				width: 45%;
				border: 2px solid #eee;
				border-bottom: 8px solid $casv-red;
				padding: 20px;

				@media only screen and (max-width: $lg-breakpoint) {
					display: flex;
					flex-direction: column;
					width: 100%;
				}
			}

			.ccm-block-page-list-title {
				font-size: 1.2em;
				color: $casv-red;
				margin: 15px auto;
			}

			.ccm-block-page-list-page-entry-text {
				@media only screen and (max-width: $md-breakpoint) {
					padding-left: 0;
				}
			}

			img {
				width: 200px;
			}
		}
	}
}